$title-color: #434a54;
$socials-color: rgba(0, 0, 0, 0.5); 
$socials-hover-color: #000000; 
$button-bg-color: #e6e9ed;
$light-gray-color: #656d78; 
$hr-color: #e6e9ed;
$span-color: #4a89dc;
$span-light-color: #abc9f1;